fastapi
uvicorn[standard]
python-multipart
aiofiles
pydantic[dotenv]
SQLAlchemy>=2.0
asyncpg
alembic
psycopg2-binary
pydantic-settings
numpy
passlib[bcrypt]
email-validator
transformers==4.48.0
sentencepiece==0.2.0
python-docx==1.1.2
reportlab==4.2.5
requests
sacremoses==0.1.1
